@font-face {
  font-family: 'DungGeunMo';
  src: url('../font/DungGeunMo.woff2');
}

p{
  font-size: 50px;
}
/*바디*/
body {
background-color: ivory;
text-align: center;
padding-top: 50px;
/* padding: 0px; */
font-family: 'DungGeunMo';
}
article
{
margin-top: 50px;
background-color: transparent;
/* background-color: transparent; */
}
/*상단 메뉴 영역*/
#topMenu 
{         
width: 100%; 
}
.eightbit-btn {
  width: 200px;
  background: #92CD41;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-family: 'DungGeunMo', cursive;
  /* font-family: "Press Start 2P", cursive; */
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4AA52E;
  margin-right: 30px;
}
.eightbit-btn:hover, .eightbit-btn:focus {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4AA52E;
}
.eightbit-btn:active {
  box-shadow: inset 4px 4px 0px 0px #4AA52E;
}
.eightbit-btn:before, .eightbit-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}
.eightbit-btn--reset {
  width: 200px;
  background: #E76E55;
  box-shadow: inset -4px -4px 0px 0px #8C2022;
}
.eightbit-btn--reset:hover, .eightbit-btn--reset:focus {
  background: #CE372B;
  box-shadow: inset -6px -6px 0px 0px #8C2022;
}
.eightbit-btn--reset:active {
  box-shadow: inset 4px 4px 0px 0px #8C2022;
}
.eightbit-btn--proceed {
  width: 200px;
  background: #F7D51D;
  box-shadow: inset -4px -4px 0px 0px #E59400;
}
.eightbit-btn--proceed:hover, .eightbit-btn--proceed:focus {
  background: #F2C409;
  box-shadow: inset -6px -6px 0px 0px #E59400;
}
.eightbit-btn--proceed:active {
  box-shadow: inset 4px 4px 0px 0px #E59400;
}
.eightbit-btn--members {
  width: 200px;
  background: skyblue;
  box-shadow: inset -4px -4px 0px 0px rgb(113, 164, 184);
}
.eightbit-btn--members:hover, .eightbit-btn--members:focus {
  background:  skyblue;
  box-shadow: inset -6px -6px 0px 0px rgb(113, 164, 184);
}
.eightbit-btn--members:active {
  box-shadow: inset 4px 4px 0px 0px rgb(113, 164, 184);
}

.eightbit-btn--home {
width: 100px;
background: white;
box-shadow: inset -4px -4px 0px 0px silver;
}
.eightbit-btn--home:hover, .eightbit-btn--home:focus {
background:  white;
box-shadow: inset -6px -6px 0px 0px silver;
}
.eightbit-btn--home:active {
box-shadow: inset 4px 4px 0px 0px silver;
}

.eightbit-btn--join {
width: 100px;
background: white;
box-shadow: inset -4px -4px 0px 0px silver;
}
.eightbit-btn--join:hover, .eightbit-btn--join:focus {
background:  white;
box-shadow: inset -6px -6px 0px 0px silver;
}
.eightbit-btn--join:active {
box-shadow: inset 4px 4px 0px 0px silver;
}


#membership_input_div
{
  background-color:transparent;
  position: relative;
  display: inline-block;
}
input[type="text"],input[type="password"]
{
  margin-top: 20px;
  width: 500px;
}




.tooltip
{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
#membership_input_div .tooltiptext
{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}
#membership_input_div .tooltiptext::after
{
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
/* #membership_div:hover .tooltiptext
{
    visibility: visible;
} */

/*
https://m.blog.naver.com/agensoft/221024439372
*/