@font-face {
  font-family: 'DungGeunMo';
  src: url('../font/DungGeunMo.woff2');
}
/*바디*/
body {
  background-color: ivory;
  text-align: center;
  padding-top: 50px;
  /* padding: 0px; */
  font-family: 'DungGeunMo';
}
/*상단 메뉴 영역*/
#topMenu {       
  width: 100%; 
  background-color: transparent;
  }
article
{
  margin-top: 50px;
  background-color:transparent;
  display: flex;
  justify-content: center;
}
#div_info_me
{
  position: relative;
}
#div_info_me2
{
  display: flex;
  flex-direction: column; 
  background-color: transparent;
}
#info_me
{
  width:500px;
}
#say_me
{
  margin-left: 400px;
}
#img_me
{
  width: 400px;
  background-color: transparent;
  margin-left: 100px;
}

.eightbit-btn {
  width: 200px;
  background: #92CD41;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-family: 'DungGeunMo', cursive;
  /* font-family: "Press Start 2P", cursive; */
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4AA52E;
  margin-right: 30px;
}
.eightbit-btn:hover, .eightbit-btn:focus {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4AA52E;
}
.eightbit-btn:active {
  box-shadow: inset 4px 4px 0px 0px #4AA52E;
}
.eightbit-btn:before, .eightbit-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}
.eightbit-btn--reset {
  width: 200px;
  background: #E76E55;
  box-shadow: inset -4px -4px 0px 0px #8C2022;
}
.eightbit-btn--reset:hover, .eightbit-btn--reset:focus {
  background: #CE372B;
  box-shadow: inset -6px -6px 0px 0px #8C2022;
}
.eightbit-btn--reset:active {
  box-shadow: inset 4px 4px 0px 0px #8C2022;
}
.eightbit-btn--proceed {
  width: 200px;
  background: #F7D51D;
  box-shadow: inset -4px -4px 0px 0px #E59400;
}
.eightbit-btn--proceed:hover, .eightbit-btn--proceed:focus {
  background: #F2C409;
  box-shadow: inset -6px -6px 0px 0px #E59400;
}
.eightbit-btn--proceed:active {
  box-shadow: inset 4px 4px 0px 0px #E59400;
}
.eightbit-btn--members {
  width: 200px;
  background: skyblue;
  box-shadow: inset -4px -4px 0px 0px rgb(113, 164, 184);
}
.eightbit-btn--members:hover, .eightbit-btn--members:focus {
  background:  skyblue;
  box-shadow: inset -6px -6px 0px 0px rgb(113, 164, 184);
}
.eightbit-btn--members:active {
  box-shadow: inset 4px 4px 0px 0px rgb(113, 164, 184);
}

.eightbit-btn--home {
  width: 100px;
  background: white;
  box-shadow: inset -4px -4px 0px 0px silver;
}
.eightbit-btn--home:hover, .eightbit-btn--home:focus {
  background:  white;
  box-shadow: inset -6px -6px 0px 0px silver;
}
.eightbit-btn--home:active {
  box-shadow: inset 4px 4px 0px 0px silver;
}

.eightbit-btn--join {
  width: 100px;
  background: white;
  box-shadow: inset -4px -4px 0px 0px silver;
}
.eightbit-btn--join:hover, .eightbit-btn--join:focus {
  background:  white;
  box-shadow: inset -6px -6px 0px 0px silver;
}
.eightbit-btn--join:active {
  box-shadow: inset 4px 4px 0px 0px silver;
}




li{   
float: left;       
vertical-align: middle;    
text-align: center;    
background-color: #2d2d2d; 
border-right: 1px solid silver;
border-radius: 4px;
}



/*오른쪽 정렬.*/
/* #topMenu2 ul{                   
list-style: none;  
line-height: 4rem;          
color: blue;
float: right;                
} */
/*그리고 자식요소들은 좌측부터 정렬한다.*/
#topMenu2 ul li:first-child 
{  
float: left;       
vertical-align: middle;    
text-align: center;    
background-color: #2d2d2d; 
border-right: 1px solid silver;
border-radius: 4px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: 'DungGeunMo';
}


/* https://developing-move.tistory.com/123 */


#user-wrap
{
  margin-left: 40px;
  position: relative;
}
#user-wrap img
{
  vertical-align: middle;
}
#user-image-content1
{
  background-color :transparent;
  position:absolute;
  top:10%;
  left:-10%;
}

#user-image-content1:hover img
{
  filter: brightness(0.5);
}


#user-image-content2
{
  background-color :transparent;
  position:absolute;
  top:10%;
  left:-10%;
}

#user-image-content2:hover img
{
  filter: brightness(0.5);
}

#user-image-content3
{
  background-color :transparent;
  position:absolute;
  top:10%;
  left:-10%;
}

/* #user-image-content3:hover img
{
  filter: brightness(0.5);
} */

.works_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.works_main {
  position: relative;
}

.works_main div {
  width: 230px;
  height: 331px;
  overflow: hidden;
  display: inline-block;
}
  
.works_main img {
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out, filter 1s ease-in-out;
}
  
.works_main:hover img {
  transform: scale(1.2);
  transform-origin: center;
  filter: brightness(10%);
  transition: transform 1s ease-in-out, filter 1s ease-in-out;
}

.works_main p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.works_main:hover p {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}